name: v0.x - Publish Release (npm)

on:
  # This workflow does not need a workflow_dispatch trigger. If this workflow
  # fails, then re-run it.
  release:
    types: [published]

jobs:

  ##############################################################################
  # RELEASE VERSION CHECK
  ##############################################################################
  #
  # Sometimes we forget to update the `version` field in the `package.json`
  # file. It is intentional to manually update that file. As a result, we need
  # this workflow to check that we updated the version before releasing.
  #
  
  check_release_version:
    name: Check version in package.json

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Perform version check
        run: |
          deno task check:package-json-version --version ${{ github.event.release.tag_name }}

  ##############################################################################
  # CODE QUALITY
  ##############################################################################

  lint_code:
    name: Check for lint
    needs: [check_release_version]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Run Deno linter
        run: deno lint

  code_formatting:
    name: Check code formatting
    needs: [check_release_version]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Run Deno formatter check
        run: deno fmt --check

  ##############################################################################
  # PUBLISH TO REGISTRY
  ##############################################################################

  publish:
    name: Publish to registry (https://registry.npmjs.org)
    needs: [check_release_version, lint_code, code_formatting]
    if: startsWith(github.event.release.tag_name, 'v0.')

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Install Node (20.x)
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@smartweaver'

      - name: Install pnpm
        run: |
          npm install -g pnpm

      - name: Build package
        run: |
          pnpm install && deno task build:libs

      # Intentional spacing
      #
      #
      #
      #
      #

      - name: Publish
        run: |
          rm package.json
          cd dist
          deno task publish:npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PUBLISH_TO_NPM_TOKEN }}
