name: v0.x - Publish Release (npm - Dry Run)

on:
  workflow_dispatch:
    inputs:
      tag_name:
        type: string

jobs:

  ##############################################################################
  # RELEASE VERSION CHECK
  ##############################################################################
  #
  # Sometimes we forget to update the `version` field in the `package.json`
  # file. It is intentional to manually update that file. As a result, we need
  # this workflow to check that we updated the version before releasing.
  #
  
  check_release_version:
    name: Check version in package.json

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Perform version check
        run: |
          deno task check:package-json-version --version ${{ github.event.inputs.tag_name }}

  ##############################################################################
  # CODE QUALITY
  ##############################################################################

  lint_code:
    name: Check for lint
    needs: [check_release_version]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Run Deno linter
        run: deno lint

  code_formatting:
    name: Check code formatting
    needs: [check_release_version]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Run Deno formatter check
        run: deno fmt --check

  ##############################################################################
  # (DRY-RUN) PUBLISH TO REGISTRY
  ##############################################################################

  publish:
    name: (dry-run) Publish to registry (https://registry.npmjs.org)
    needs: [check_release_version, lint_code, code_formatting]
    # Intentional spacing

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Install Node (latest)
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          scope: '@smartweaver'

      - name: Install pnpm
        run: |
          npm install -g pnpm

      - name: Build package
        run: |
          pnpm install && deno task build:libs

      - name: (artifacts) Upload package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.tag_name }}
          path: dist
          retention-days: 1

      - name: (dry-run) Publish
        run: |
          cd dist
          npm publish --access public --dry-run
        # Intentional spacing
        #
        #
